PORT=3004
DATABASE_URL=postgresql://user:password@localhost:5436/payment_db
RABBITMQ_URL=amqp://guest:guest@localhost:5672
VNPAY_TMN_CODE=sandbox-tmn-code
VNPAY_HASH_SECRET=sandbox-hash-secret
VNPAY_RETURN_URL=http://localhost:3000/payment/return
