PORT=3000
JWT_ACCESS_SECRET=change-me-access
USER_SERVICE_URL=http://localhost:3001
EVENT_SERVICE_URL=http://localhost:3002
BOOKING_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
TICKET_SERVICE_URL=http://localhost:3005
